/* search Page */
.app {
  margin-top: -100px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}
.logo img {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: none;
  margin-bottom: 50px;
}
.container {
  display: flex;
}

/* search input  */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
}

.search-container input[type="text"] {
  padding: 18px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  width: 90vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-container input:focus {
  outline: none;
  border: 2px solid rgb(165, 162, 162);
}
.search-container button {
  margin-left: -62px;
  padding: 16px 18px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #f5f1f1;
}

/* filters  */
.filter-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 35%;
  margin: 10px;
  height: 50vh;
  border-right: 1px solid #ccc;
}

.filter-container > span {
  padding-bottom: 10px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
}
.manufacturer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}
.manufacturer-name {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
}
.filter-button button {
  display: flex;
  align-items: center;
  margin-left: 40px;
  padding: 8px 10px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}
hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
}

.accordion-content label {
  display: flex;
  margin: 10px;
}

.accordion-content input[type="checkbox"] {
  margin-right: 10px;
}

/*  article  */
.article-container {
  display: flex;
  width: 65%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.articles {
  display: flex;
  width: 70vw;
  height: 45vh;
  margin: 10px;
  gap: 5px;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.article-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.article-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  width: 30%;
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.article-desc {
  margin-top: 20px;
}
.article-name {
  font-size: 16px;
  margin: 0;
}

.article-price {
  margin-top: 5px;
  margin-bottom: 10px;
}

.article-image {
  width: 100%;
  max-height: 30vh;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
  margin-bottom: auto;
}

.article-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 255, 34);
}

/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

.pagination button.active {
  background-color: rgb(244, 226, 125);
  color: rgb(244, 182, 27);
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
